*{
    padding: 0;
    margin: 0;
  }
  
  .red{
    background-color: #143157;
    color: white;
  }

  a{
    text-decoration: none;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #0c181b;
    padding: 5px 10px;
  }

  .navbar-left {
    display: flex;
    gap: 34px;
}

.navbar-left .red {
  background-color: rgb(20, 49, 87);
  color: white;
  text-decoration: none;
}

.navbar-right {
  display: flex;
}

li{
  list-style: none;
  padding: 20px;
}

a li{
  color: white;
}


.sidebar-toggle {
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}


.sidebar {
  background-color: #0c181b;
  color: white;
  width: 135px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px; 
  padding-top: 7px; 
  transition: 0.3s;
  z-index: 999;
}

.sidebar .sidebar-tgl{
  margin-left: 20px;
  margin-bottom: 8px;
  font-size: 24px;
  width: 30px;
}

.sidebar-link {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  padding: 8px 0;
}


.sidebar-link:hover {
  background-color:  rgb(20, 49, 87);
}

.sidebar.active {
  left: 0; 
}

.content {
  margin-left: 20px;
  padding-top: 70px; 
  width: 100%;
  transition: margin-left 0.3s;
}

.content.shifted {
  margin-left: 270px; 
}