*{
    padding: 0;
    margin: 0;
  }
  
  nav{
    display: flex;
    gap: 34px;
    background-color:  #0089b7;;
    color: white;
  }
  
  li{
    list-style: none;
    padding: 23px;
  }
  
  a li{
    color: white;
  }

  .red{
    background-color: red;
    color: white;
  }

  .red:hover{
    opacity: 0.8;
  }

  a{
    text-decoration: none;
  }